@media screen and (min-width: 430px) {
    *{
    margin:0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}
    main{
        background-color: lightgrey;
        width: 430px;
        height: 932px;
    }
    #box {
        width: 66px;
        height: 96px;
        border-radius: 13px;
        margin: auto 0;
        border: black solid 4px;
        background-color: grey;
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
   #box #circle1 {
        width: 28px;
        height: 28px;
        pointer-events: none;
        border-radius: 50%;
        border: solid black 1px;
        left: 18px;
        top: 13px;
       bottom: 57px;
        position: absolute;
    }
    #box #circle2 {
        width: 20px;
        height: 20px;
        background-color: grey;
        pointer-events: none;
        border-radius: 50%;
        border: solid black 1px;
        left: 22px;
        top: 17px;
        position: absolute;
    }
    #box #circle3 {
        width: 36px;
        height: 36px;
        background-color: lightseagreen;
        pointer-events: none;
        border-radius: 50%;
        border: solid black 2px;
        left: 13px;
        top: 50px;
        position: absolute;
    }

    #box #circle4 {
        width: 24px;
        height: 24px;
        background-color: grey;
        pointer-events: none;
        border-radius: 50%;
        border: solid black 2px;
        left: 19px;
        top: 56px;
        position: absolute;
    }
    .hide {
        display: none;
    }
    #circle5 {
        width: 100px;
        height: 100px;
        background-color: white;
        pointer-events: none;
        border-radius: 50%;
        z-index: 1;
        position: absolute;
        top: 50%;
        left: 50%;
        opacity: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #circle6 {
        width: 100px;
        height: 100px;
        background-color: indianred;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%);
        cursor: pointer;
    }
    #circle5 p {
        font-weight: bolder;
        font-size: x-large;
    }
    input[type="range"] {
        width: 200px;
        height: 200px;
        position: absolute;
        left: calc(50% - 50px);
        top: calc(50% + 1px);
        transform: translateY(-50%);
    }
    #slider {
        opacity: 0;
    }
#line-1{
    left: 90px;
    bottom: 2px;
    position: absolute;
}
    #line-3{
        left: 95px;
        bottom: 20px;
        position: absolute;
    }
    #line-2{
        left: 103px;
        bottom: 35px;
        position: absolute;
    }
    .cls-1 {
        fill: none;
        stroke: #000;
        stroke-linecap: round;
        stroke-miterlimit: 10;
        stroke-width: 6px;
        left: 50px;
        position: absolute;
    }

    #player02 .controls {
        display: flex;
        justify-content: space-around;
    }

    .player {
        background-color: #2a7b98;
        padding: 20px;
        border-radius: 15px;
        width: 350px;
        position: absolute;
        top: 60px;
        left: 20px;
    }

    .player img {
        width: 64px;
        height: 64px;
        object-fit: cover;
        border-radius: 10px;
    }


    .info {
        color: #E1E1E6;
    }

    .info p {
        opacity: 0.68;
        font-size: 19px;
    }

    .info-wrapper {
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .player h1 {
        font-size: 27px;
        color: #E1E1E6;
        padding-bottom: 7px;
    }


    .controls {
        display: flex;
        justify-content: space-between;
        padding-top: 20px;
    }

    .track {
        padding-top: 28px;
        position: relative;

    }

    .track::before {
        content: '';
        height: 6px;
        width: 100%;
        display: block;
        background: #D9D9D9;
        opacity: 0.3;
        border-radius: 10px;
        position: absolute;
    }

    .track::after {
        content: '';
        height: 6px;
        width: 85%;
        display: block;
        background: #D9D9D9;
        border-radius: 10px;


    }

    .time {
        opacity: 0.7;
        font-size: 14px;
        color: gainsboro;

        display: flex;
        justify-content: space-between;
        padding-top: 9px;
    }

}









